body {
	line-height: 1.5;
}
code {
	background-color: rgb(39,40,34);
	color: orange;
	padding: 2px;
	border-radius: 4px;
	border: 1px solid rgb(108,109,105);
	font-size: 11px;
}
.codeblock {
	background-color: rgb(39,40,34);
	color: orange;
	padding: 2px;
	border-radius: 4px;
	border: 1px solid rgb(108,109,105);
	font-size: 11px;
}
.container {
	margin-bottom: 1em;
}
canvas {
	border: 1px solid black;
}